DISCORD_TOKEN=coloque_o_token_do_bot_aqui
CLIENT_ID=coloque_o_client_id_do_bot_aqui

WEBHOOK_PORT=3000

MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_URL=
MERCADO_PAGO_PAYER_EMAIL=

ASAAS_API_KEY=
ASAAS_CUSTOMER_CPF_CNPJ=
